
.cell {
    width: calc(100% / 3);
}
.container {
    height: 85vh;
}
.container-4, .cell-5 {
    height: calc(100% / 2 - 0.5rem);
}
.cell-5>p {
    text-align: justify;
}
.cell-1, .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}